{% extends 'nosqlproject/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">

             <h2 class="mb-4" style="color:black">➕ Ajouter un Inscription</h2>

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Étudiant</label>
                        {{ form.etudiant }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Cours</label>
                        {{ form.cours }}
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label">Date</label>
                        {{ form.date_cours }}
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label">Heure début</label>
                        {{ form.heure_debut }}
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label">Heure fin</label>
                        {{ form.heure_fin }}
                    </div>

                </div>

                <div class="mt-3 d-flex justify-content-between">
                    <a href="{% url 'inscriptions_list' %}" class="btn btn-secondary">
                        Retour
                    </a>

                    <button type="submit" class="btn btn-success shadow-sm">
                        💾 Enregistrer
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}